# Задание по Python

У вас есть фрейм, содержащий информацию о продажах в магазине. Фрейм имеет следующие столбцы:
- date - дата заказа
- customer_id - идентификатор клиента
- product_id - идентификатор товара
- quantity - количество товара, заказанного в рамках заказа
- price - цена товара

In [1]:
import pandas as pd
data = {
'date': pd.date_range(start='2019-01-01', periods=12,
freq='100D').to_series().sample(frac=1).to_list(),
'customer_id': [101, 102, 103, 101, 102, 104, 105, 103, 101, 102, 106, 107],
'product_id': [1, 2, 3, 2, 3, 1, 2, 1, 3, 3, 1, 2],
'quantity': [3, 1, 2, 1, 3, 2, 2, 3, 1, 2, 1, 3],
'price': [10.5, 15.2, 8.7, 13.4, 9.1, 11.8, 12.5, 7.2, 16.6, 8.9, 10.2, 14.1],
}
df = pd.DataFrame(data)

1. Напишите код для вычисления общей выручки магазина за каждый год, представленный в данных.
2. Напишите код для вычисления количества уникальных клиентов, которые сделали заказы в каждом
году.
3. Напишите код для вычисления общего количества товаров, проданных в каждом году.
4. Напишите код для вычисления средней стоимости заказа каждого клиента за каждый год.
5. Напишите код для вычисления общей выручки магазина за каждый месяц.
6. Напишите код для вычисления общей выручки магазина за каждый месяц для каждого отдельного продукта.

In [2]:
print(df)

         date  customer_id  product_id  quantity  price
0  2021-06-19          101           1         3   10.5
1  2020-05-15          102           2         1   15.2
2  2020-02-05          103           3         2    8.7
3  2019-04-11          101           2         1   13.4
4  2019-01-01          102           3         3    9.1
5  2021-03-11          104           1         2   11.8
6  2019-07-20          105           2         2   12.5
7  2020-12-01          103           1         3    7.2
8  2020-08-23          101           3         1   16.6
9  2022-01-05          102           3         2    8.9
10 2019-10-28          106           1         1   10.2
11 2021-09-27          107           2         3   14.1

In [3]:
df['year'] = df.date.apply(lambda x: str(x).split('-')[0])
df['month'] = df.date.apply(lambda x: str(x).split('-')[1])
df['revenue'] = df['price'] * df['quantity']

## Общая выручка магазина за каждый год:
```
SELECT EXTRACT(YEAR  FROM  date) AS year, SUM(quantity * price) AS revenue
FROM shop
GROUP BY 1
ORDER BY 1;
```

In [4]:
print('Общая выручка:\n', df.groupby('year').sum('revenue')['revenue'])

Общая выручка:
 year
2019    75.9
2020    70.8
2021    97.4
2022    17.8
Name: revenue, dtype: float64

## Количество уникальных клиентов, которые сделали заказы в каждом году.
```
SELECT EXTRACT(YEAR  FROM  date) AS year, COUNT(DISTINCT  customer_id) AS customer
FROM shop
GROUP BY 1
ORDER BY 1;
```

In [5]:
print('Уникальные:\n', df.groupby('year')['customer_id'].nunique())

Уникальные:
 year
2019    4
2020    3
2021    3
2022    1
Name: customer_id, dtype: int64

## Общее количество товаров, проданных в каждом году.
```
SELECT EXTRACT(YEAR  FROM  date) AS year, SUM(quantity) AS goods
FROM shop
GROUP BY 1
ORDER BY 1;
```

In [ ]:
print('Количество товаров\n', df.groupby('year').sum('quantity')['quantity'])

общего количества товаров, проданных в каждом году
 year
2019    10
2020     7
2021     5
2022     2
Name: quantity, dtype: int64

## Средняя стоимость заказа каждого клиента за каждый год.
```
SELECT EXTRACT(YEAR  FROM  date) AS year, customer_id, AVG(quantity * price) AS average_order
FROM shop
GROUP BY 1, 2
ORDER BY 1;
```

In [ ]:
print('Средняя стоимость заказа\n', df.groupby(['year', 'customer_id']).mean('revenue')['revenue'])

Средняя стоимость заказа
 year  customer_id
2019  101            31.5
      105            25.0
      106            10.2
      107            42.3
2020  101            13.4
      102            16.5
      103            17.4
2021  102            27.3
      103            21.6
      104            23.6
2022  101            16.6
Name: revenue, dtype: float64

## Общая выручка магазина за каждый месяц.
```
SELECT EXTRACT(MONTHS  FROM  date) AS month, SUM(quantity * price) AS revenue
FROM shop
GROUP BY 1
ORDER BY 1;
```

In [ ]:
print('Общая выручка магазина за каждый месяц\n', df.groupby('month').sum('revenue')['revenue'])

Общая выручка магазина за каждый месяц
 month
01    41.6
02    15.2
03    21.6
04    42.3
05    17.4
06    23.6
07    10.2
08    13.4
09    27.3
10    31.5
12    17.8
Name: revenue, dtype: float64

## Общая выручка магазина за каждый месяц для каждого отдельного продукта.
```
SELECT EXTRACT(MONTHS  FROM  date) AS month, product_id, SUM(quantity * price) AS revenue
FROM shop
GROUP BY 1, 2
ORDER BY 1;
```

In [ ]:
print('Общая выручка магазина за каждый месяц для каждого отдельного продукта\n', df.groupby(['month', 'product_id']).sum('revenue')['revenue'])

Общая выручка магазина за каждый месяц для каждого отдельного продукта
 month  product_id
01     2             25.0
       3             16.6
02     2             15.2
03     1             21.6
04     2             42.3
05     3             17.4
06     1             23.6
07     1             10.2
08     2             13.4
09     3             27.3
10     1             31.5
12     3             17.8
Name: revenue, dtype: float64

# Задание по SQL

У вас есть две таблицы: `orders` и `order_items`. Таблица `orders` содержит информацию о заказах, а таблица `order_items` содержит информацию о товарах, которые были заказаны в рамках этих заказов. Обе таблицы
имеют следующие столбцы:

Таблица `orders`:
- order_id - уникальный идентификатор заказа
- customer_id - идентификатор клиента
- date - дата заказа

Таблица `order_items`:
- order_id - идентификатор заказа
- product_id - идентификатор товара
- quantity - количество товара, заказанного в рамках заказа

1. Напишите SQL-запрос, который выбирает количество товаров, заказанных каждым клиентом в
текущем году.
2. Напишите SQL-запрос, который выбирает идентификаторы всех клиентов, которые не сделали ни
одного заказа в текущем году.

```
SELECT o.customer_id, SUM(oi.quantity) AS total_quantity
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
WHERE YEAR(o.date) = YEAR(CURRENT_DATE)
GROUP BY o.customer_id;
```

```
SELECT customer_id
FROM customers
WHERE customer_id NOT IN (
    SELECT DISTINCT customer_id
    FROM orders
    WHERE date BETWEEN '2023-01-01' AND  '2023-12-31'
);
```